
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>LoginAdmin</title>
</head>
<body>
    <div>
        <form method="post">
            <p>
                <label>Admin Name : <input type="text" name="NOM" /></label>
            </p>
            <p>
                <label>Password : <input type="text" name="MDP" /></label>
            </p>
            <p>
                <label><input type="submit" value="AdminLogin" /></label>
            </p>
        </form>
    </div>
</body>
</html>
