
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SignUP</title>
</head>
<body>
    <div>
        <form method="post">
            <p><label>Your Name : <input type="text" name="NOM" /></label></p>
            <p><label>User Name : <input type="text" name="USERNAME" /></label></p>
            <p><label>Password : <input type="text" name="MDP" /></label></p>
            <p><label><input type="submit" value="submit" /></label></p>
        </form>
    </div>
</body>
</html>
