@model ProjetM2.Models.FILM

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>UpdatePhoto</title>
</head>
<body>
    <div>

        
        <form action="/Film/Photo" method="post" enctype="multipart/form-data">
            <p>
                <label for="file">ajouter un photo : </label>
                <input type="file" name="files" id="file" class="form-control" />
            </p>
            <p>
                <input type="submit" value="save" class="btn-info" />
            </p>


        </form>
    </div>
</body>
</html>
